certifi==2021.10.8
cffi==1.15.0
click==8.0.4
Jinja2==3.0.3
keras==2.8.0
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.1
pandas-datareader==0.10.0
Pillow==9.0.1
scikit-learn==1.0.2
sklearn==0.0
streamlit==1.7.0
tensorflow==2.8.0
urllib3==1.26.9
Werkzeug==2.0.3
